[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-theme-w3css-basic"]
	path = themes/hugo-theme-w3css-basic
	url = https://github.com/it-gro/hugo-theme-w3css-basic
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
